// Variables

$negro: #000;
$blanco: #fff;

//$color-ppal: #ed8350;

$color-ppal: #e05c1d;
$color-sec: #d3914d;

$gris-oscuro: #302623;
$gris-claro: #68625f;


// Mixins
@mixin campos($mix_border: #000, $mix_width: 100%) {
	background-color: #fff;
	border: 2px solid;
	border-color: $mix_border !important;
	padding: 15px 10px;
	width: $mix_width;
	max-width: 450px;
	display: block;
	&::-webkit-input-placeholder {
		color: $negro;
	}
	&::-moz-placeholder {
		color: $negro;
	}
	&:-ms-input-placeholder{
		color: $negro;
	}
	&:-moz-placeholder {
		color: $negro;
	}
}

@mixin selects {
	appearance:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	background-image: url(../images/icon-despliega.png);
	background-position:right 10px center;
	background-repeat:no-repeat;
}



// Fonts

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'wbook';
	src:url('../fonts/WhitneyBook.eot');
	src:url('../fonts/WhitneyBook.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WhitneyBook.svg#WhitneyBook') format('svg'),
		url('../fonts/WhitneyBook.woff') format('woff'),
		url('../fonts/WhitneyBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'wsemibold';
	src:url('../fonts/WhitneySemibold.eot');
	src:url('../fonts/WhitneySemibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WhitneySemibold.svg#WhitneySemibold') format('svg'),
		url('../fonts/WhitneySemibold.woff') format('woff'),
		url('../fonts/WhitneySemibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



html {
	font-size: 16px;
	font-family: 'wbook', helvetica, arial;
}



body {
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: 'wbook', helvetica, arial;
	color: $gris-claro;
	font-size: 1em;
}

h1, h2, h3 {
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	text-transform: uppercase;
	color: $gris-oscuro;

}

h4, h5, h6 {
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	font-family: 'wsemibold', helvetica, arial;
	color: $gris-oscuro;
}

h1 {font-size: 2.8em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.9em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.4em; margin-top: 1em;}
h6 {font-size: 1.2em;}


p {
	font-size: 1em;
	b, strong {
		font-weight: normal;
	}
}




a {
	transition:all 0.2s ; 
	-moz-transition:all 0.2s; 
	-webkit-transition:all 0.2s;
	color: $gris-oscuro;
	&:hover {
		transition:all 0.2s ; 
		-moz-transition:all 0.2s; 
		-webkit-transition:all 0.2s;
		text-decoration: none;
		color: $gris-claro;
	}
	&:visited, &:focus, &:active  {
		text-decoration: none;
		color: $gris-oscuro;
	}
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}



input {

}


label {
	font-weight: normal;
}


input[type="submit"] {
	&:hover {
	}
	&:visited, &:focus {
	}
}



.btn-ppal {
	// background-color: $color-ppal;
	background: $color-ppal;
	color: #fff;
	min-width: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0;
	text-align: center;
	font-size: 1.2em !important;
	padding: 15px;
	display: inline-block;
	&:hover {

	}
	&:focus {
		color: #fff;
	}
	&:visited {
		text-decoration: none;
	}
}


.breadcrumb {
	background: no-repeat;
	font-size: 0.9em;
	padding: 8px 0px;
	margin-bottom: 10px;
}



// Header


header {
	padding: 10px 0;
	//border-bottom: 1px solid #dadada;
	//border-bottom: 10px solid #d5a995;
	@media (max-width:992px) {
		background: #ededed;
	}
	.logo {
		float: left;
		margin-top: 13px;
		@media (max-width:992px) {
			margin-top: 4px;
		}
		img {
			max-width: 245px;
			@media (max-width:992px) {
				max-width: 190px;
			}
		}
	}
	.col-header-der {
		float: right;
		.contacto-header {
			float: left;
			padding-right: 30px;
			text-align: right;
			padding-top: 9px;
			p {
				margin-bottom: 0;
			}
			p.tel {
				font-size: 1.2em;
				color: $color-ppal;
				font-family: 'wsemibold', helvetica, arial;
				margin-top: -5px;
			}
		}
		.menu-ppal {
			float: left;
			ul {
				li {
					float: left;
					border-right: 1px solid #dadada;
					a {
						text-transform: uppercase;
						padding: 20px 35px;
						display: block;
						font-family: 'wsemibold', helvetica, arial;
					}
				}
				li:first-child {
					border-left: 1px solid #dadada;
				}
			}
		}
	}
}

.icon-menu-mobile {
	float: right;
}

.menu-mobile-open {
	display: none;
	background: $color-ppal;
	color: #fff;
	padding: 20px;
	a {
		color: #fff;
		font-size: 1.2em;
	}
	ul.mobile {
		> li {
			margin-bottom: 15px;
			> ul {
				padding-left: 15px;
				li {
					margin: 5px 0;
					a {
						color: #ddb691;
					}
				}
			}
			ul.subcat {
				padding-left: 15px;
			}
		}
	}
}






// Home


.swiper-home {
	margin-bottom: 40px;
}

.swiper-slide {
	img {
		width: 100%;
	}
}

.home-prev {
	background-image: url(../images/home-prev.png);
}
.home-next {
	background-image: url(../images/home-next.png);
}


.btn-swiper {
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -120px;
	z-index: 9;

	a {
		text-align: center;
		font-size: 1.4em !important;
		width: 240px;
		background: $color-ppal;
		color: #fff;
		padding: 15px;
		display: block;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

	}
}


h1.title-category {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.container-productos {
	margin: 20px 0 20px;
}

.wraper-producto {
	@media (max-width:550px) {
		width: 100%;
	}
}

.box-producto {
	margin-bottom: 30px;
	img:hover {
		opacity: .7;
	}
	.bajada {
		background: #ededed;
		padding: 15px;
		h4 {
			margin-bottom: 0;
			margin-top: 0;
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0;
			@extend h4;
			text-transform: none;
		}
		p {
			margin-top: 2px;
			height: 65px;
		}
		a {
			color: $color-ppal;
			font-size: 1.2em;
		}
	}
}

// Category

.menu-productos {
	background: #a49188;
	//background: $color-ppal;
	color: #fff;
	padding: 0px 0;
	ul {
		//float: right;
		//margin-right: -20px;
		display: table;
		margin: 0 auto;
		li {
			float: left;
			a {
				color: #fff;
				padding: 12px 22px;
				font-family: 'wsemibold', helvetica, arial;
				display: block;
			}
		}
		li.active {
			a {
				background: $color-ppal;
			}
		}
	}
	
}


// Product


.foto-producto {

}




.descripcion-producto {
	padding-left: 20px;
	padding-top: 20px;
	margin-bottom: 40px;
	@media (max-width:992px) {
		padding-top: 0;
	}
	.text-category {
		text-transform: uppercase;
		margin-bottom: -20px;
		font-family: 'wsemibold', helvetica, arial;
		letter-spacing: 0.1em;
		a {
			color: $color-ppal;
		}
		
	}
	p.descripcion {
		font-size: 1.1em;
	}
	h5 {
		margin-top: 1.6em;
		border-top: 1px solid #a49188;
		padding-top: 1.6em;
	}
	a.btn-ppal {
		//display: block;
		margin-top: 20px;
	}
}


// Contacto


.consulta-producto {
	margin-bottom: 20px;
	background: #f5f5f5;
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	p {
		margin-bottom: 0;
	}
	h6 {
		margin-top: 0;
	}

}

form {
	//margin-top: 20px;
}


.form-control {
	height: 50px;

}

button {
		border: none;
		box-shadow: none;
	}

.consulta-ok {
	text-align: center;
	background: #42935f;
	padding: 30px;
	margin-bottom: 50px;
	//margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	h4 {
		color: #fff;
		margin-bottom: 0;

	}
	p {
		color: #fff; ;
	}

}

.datos-contacto {
	margin-top: 30px;
	@media (min-width:992px) {
		margin-top: 20px;
		padding: 0 40px;
	}
	ul {
		margin-bottom: 20px;
	}
	li {
		margin-bottom: 10px;
		font-size: 1em;
	}
	.icon {
		width: 20px;
		float: left;
		margin-right: 5px;
		margin-top: 3px;
	}
}


.mapa {
	margin-top: 60px;
	margin-bottom: -5px;
}



// Footer

ul.redes {
	overflow: hidden;
	margin-top: 20px;
	li {
		width: 35px;
	}
}


.contact-bar {
	padding: 20px 0; 
	font-size: 1.8em;
	background: $gris-claro;
	color: #fff;
	img {
		width: 45px;
		margin-right: 10px;

	}
	a {
		color: #fff;
		&:visited, &:focus, &:active {
			color: #fff;
		}
	}
}


footer {
	background: $gris-oscuro;
	color: #fff;
	line-height: 1.6em;
	padding: 30px;
	h5 {
		color: #fff;
	}
	a {
		color: #fff;
		&:visited, &:focus, &:active {
			color: #fff;
		}

	}
}

.menu-foot {
	margin-top: 20px;
	li {
		margin-bottom: 5px;
	}
	a.red-foot {
		display: inline-block;
		border: 2px solid #68615e;
		padding: 10px 20px;
		border-radius: 29px;
		margin-top: 10px;
	}
	.icon {
		width: 20px;
		float: left;
		margin-right: 5px;
		margin-top: 3px;
	}
}

.marmoleria-foot {
	img {
		width: 130px;
	}
}


.foot-foot {
	margin-top: 30px;
	font-size: 0.8em;
	color: $gris-claro;
	a {
		color: $gris-claro;
		&:visited, &:focus, &:active {
			color: $gris-claro;
		}
	}
}


#al-top {
	position: fixed;
	right: 40px;
	bottom: 100px;
	z-index: 9999;
	display: none;
	@media (max-width: 768px) {
		right: 20px;
		bottom: 80px;
	}
	a {
		width: 53px;
		height: 53px;
		background-color: $gris-oscuro;
		color: #fff;
		display: inline-block;
		background-image: url(../images/al-top.png);
		background-position: center center;
		background-repeat: no-repeat;
		//border: 1px solid #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		&:hover {
			opacity: 0.8;
		}
		&:visited, &:focus, &:active {
			color: #fff;
		}
	}
}

a.whatsapp-icon {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9;
	display: inline-block;
	img {
		width: 53px;
	}
	@media (max-width: 768px) {
		bottom: 20px;
		right: 20px;
	}
}


.foto-producto {
	img {
		margin-bottom: 20px;
	}
}


/* Breakponits bootstrap */

/* xs */
@media (max-width:768px) {
}


/* sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
}


/* md */
@media screen and (min-width: 992px) and (max-width: 1199px) {
}


/* lg */
@media screen and (min-width: 1200px) { 

	.container {
		max-width: 1250px;
	}
}
 











